[submodule "dojo-synthetic-api"]
	path = dojo-synthetic-api
	url = git@github.com:tensorplex-labs/dojo-synthetic-api.git
[submodule "dojo-ui"]
	path = dojo-ui
	url = git@github.com:tensorplex-labs/dojo-ui.git
