aiohttp
bittensor @ git+https://github.com/opentensor/bittensor.git@v7.2.0
fastapi
httpx
jsonref
loguru
numpy
openai
pingouin
prompt_toolkit
pydantic>=2
python-dotenv
requests-toolbelt
scikit-learn
scipy
StrEnum
tenacity
torch==2.3.0
uvicorn
wandb
