prompt_toolkit
requests-toolbelt
scikit-learn
aiohttp
bittensor @ git+https://github.com/opentensor/bittensor.git@v7.2.0
fastapi
httpx
jsonref
loguru
numpy
openai
pingouin
pydantic>=2
python-dotenv
scipy
StrEnum
tenacity
uvicorn
wandb
torch==2.3.0
