aiohttp==3.9.0b0
bittensor @ git+https://github.com/opentensor/bittensor.git@v7.1.0
fastapi==0.110.1
httpx==0.27.0
jsonref==1.1.0
loguru==0.7.2
numpy==2.0.0
openai==1.35.13
pingouin==0.5.4
prompt_toolkit==3.0.47
pydantic==2.8.2
python-dotenv==1.0.1
scikit-learn==1.5.1
scipy==1.14.0
StrEnum==0.4.15
tenacity==8.5.0
torch==2.3.1
uvicorn==0.22.0
wandb==0.17.4
